body,div,img{margin: 0px;padding: 0px; }
ul,li{list-style: none;}
#container{
  height: 800px;
}

#comments {margin-top: 40px;}
#comments hr{width: 900px;}
#comments {padding-top:10px;width: auto;}
#comments table {width: 70%; margin-left: 180px;}
#comments .mcontent {padding-left: 15px;}
#comments a{color: black; text-decoration: none;}
#comments h1 {padding-left: 180px; }
#DELETE{margin-top: 20px; height: 20px;width: 50px;font-size: 10px;text-align: center;}
  footer {
      background-color: #f5f5f5;
      color: #f5f5f5;
      padding: 32px;
  }
  footer a {
      color: #f5f5f5;
  }
  footer a:hover {
      color: #777;
      text-decoration: none;
  }  


